# Servidor
PORT=3001
NODE_ENV=development

# Base de datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_NAME=NOMBRE DE LA DB
DB_USER=root
DB_PASSWORD=

# JWT - pon cualquier frase larga y secreta, no la compartas
JWT_SECRET=
JWT_EXPIRES_IN=8h

# Correo SMTP
SMTP_HOST= smtp.tucorreo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER= # NOMBRE DEL CORREO QUE ENVIA
SMTP_PASS= #password del correo que envia
SMTP_FROM=Total Pacific Service Desk <correo@empresa.com>

# Frontend
FRONTEND_URL=http://localhost:5173

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379